
Skip to content
Pull requests
Issues
Marketplace
Explore
@ednaldoKN
luanmarco0 /
dappmint-main
Public

Code
Issues
Pull requests
Actions
Projects
Wiki
Security

    Insights

dappmint-main/frontend/css/style.css
@luanmarco0
luanmarco0 a
Latest commit e552b4a 17 hours ago
History
1 contributor
447 lines (384 sloc) 7.72 KB
/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('http://fonts.cdnfonts.com/css/coolvetica-2');

@import url('http://fonts.cdnfonts.com/css/devinne-swash');

@import url('http://fonts.cdnfonts.com/css/lost-castedral');
                
@import url('http://fonts.cdnfonts.com/css/heibird');

@import url('http://fonts.cdnfonts.com/css/baselbook');

@import url('http://fonts.cdnfonts.com/css/nrt-reg');

/* GLOBAL STYLES */

:root {
  --font-primary: 'NRT Reg', serif;
  --font-secondary: "NRT Reg", serif;
  --font-code: "NRT Reg", serif;
  --bg-color: rgba(17, 17, 69, 0.8);
  --bg-color-transparent: #ffffff;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: rgb(5, 5, 41);
  --header-shadow: var(--accent-color) 0px 0px 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('../images/FundoMint.jpg');
  background-size: cover;
  background-attachment: fixed;
  /*background-color: #0d2b45;*/
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container-info-mint{
  display: flex;
  flex-direction: column;
  max-width: 960px;
  /*margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: center;*/
  overflow: hidden;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

header {
  background-color: transparent;
  /*box-shadow: var(--header-shadow);*/
  height: 80px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-left: 30px;
}
.menu {
  display: flex;
  /*gap: 2rem;*/
  align-items: center;
  margin-right: 30px;
}

/*section{
  margin-top: 100px;
}
*/
/* NOT CONNECTED */
.not-connected {
  align-items: center;
  height: 100%;
  text-align: center;
  margin: 0 auto 0 35vw;
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.5s ease-in-out;
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}

.not-connected h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: sans-serif;
  margin: 2rem 0;
  font-size: 3.5rem;
}

.not-connected p {
  font-size: 1rem;
  font-family: var(--font-secondary);
  line-height: 1.5;
}

.not-connected a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: serif;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: var(--header-shadow);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}
.btn:disabled {
  cursor: default;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
  margin: 20px auto;
}

/* CARD */

.card {
  position: relative;
  top: auto; bottom: auto; right: auto; left: auto;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 3px solid var(--accent-color);
  box-shadow: var(--card-shadow);
  /*padding: 5rem;*/
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
  padding: 20px auto;

}

.show-card {
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transform: translateX(0);
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#countdown {
  display: none;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*margin: 0px auto;*/
  /*margin: 10px 10px 10px 38%;*/
}

.countdown ul {
  display: flex;
  gap: 2rem;
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}

.countdown .card{
  padding: 15px 10px;
}

.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--bg-color-transparent);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-primary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
  margin: 20px auto;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: serif;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown h2 {
  margin-top: 1rem;
}

.countdown > p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* MINT CONTAINER 
.mint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.mint-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--accent-color);
  border-radius: 5px;
}
.mint-qty > span {
  display: flex;
}
.mint-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
}
.input-number {
  height: 100%;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
  outline: none;
}
.input-number,
.input-number-decrement,
.input-number-increment {
  user-select: none;
}
.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 2rem;
}
.total-price-container p {
  color: var(--accent-color);
}
/* MINTED CONTAINER */

.minted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.minted-container h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.minted-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.minted-container p {
  margin: 1rem 0;
}

/* SLIDDER */

.splide {
  position: absolute;
  top: 0px;
  left: 0rem;
  z-index: -1;
  /*visibility: hidden;
*/
}

.splide__slide {
  border: var(--accent-color) solid;
  border-width: 0px 0px;
  /*visibility: hidden;*/
}  

.splide__slide img {
  width: 0%;
  /*visibility: hidden;*/
}

/* SPINNER */
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 10;
    padding: 0.5rem 1rem;
    max-width: 8rem;
  }
  .not-connected {
    background-color: var(--bg-color-transparent);
    border-radius: 5px;
    padding: 2rem;
    margin: 0 auto;
  }
  .countdown ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .countdown .clock-item {
    width: 100%;
  }
  .countdown .clock-item .count-number {
    font-size: 1.5rem;
  }
  .countdown .clock-item .count-text {
    font-size: 1rem;
  }
  .countdown h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .countdown h2 {
    padding-top: 0.5rem;
  }
  .countdown p {
    font-size: 1rem;
  }
  .card {
    padding: 1rem;
  }
  .mint-qty .btn {
    padding: 1rem;
    font-size: 13px;
  }
}

/* UTILITIES */

.hidden {
  display: none;
}
